attrs==20.3.0               # For creating classes without boilerplate code
beautifulsoup4==4.9.3      # For web scraping
colorama==0.4.4             # For colored terminal text
decorator==4.4.2            # For simplifying the use of decorators
flake8==3.8.4               # For checking the style guide enforcement
Flask==3.0.3                # The web framework
geocoder==1.38.1            # For geolocation services
geographiclib==1.50         # For geodesic calculations
geopy==2.0.0                # For geolocation and geocoding
google==3.0.0               # Google search library
pyttsx3==2.90               # For text-to-speech conversion
httplib2==0.22.0            # For handling HTTP requests
Jinja2==3.1.4               # Templating engine for Flask
MarkupSafe==2.1.5           # For safe HTML rendering
oauthlib==3.1.0             # For OAuth support
prompt_toolkit==3.0.48      # For building interactive command lines
protobuf==5.28.2            # For working with Protocol Buffers
requests==2.32.3            # For making HTTP requests
SpeechRecognition==3.8.1    # For speech recognition capabilities
urllib3==2.2.3              # For handling URLs
Werkzeug==3.0.4             # WSGI utility library for Flask
wheel==0.44.0               # For building Python packages
wikipedia==1.4.0            # Wikipedia API for fetching summaries
selenium==3.141.0           # For automating web browser interaction
